<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>My cocktails</h1>
      <% @cocktails.each do |cocktail| %>
        <p><%= link_to cocktail.name, cocktail_path(cocktail.id) %></p>
      <% end %>
    </div>
  </div>
</div>
