.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  text-decoration: none;
}

.btn-medium:hover {
  // opacity: 0.5;
  color: #ffffff;
  background-color: #999999;
  text-decoration: none;
}

.btn-medium-form {
  color: #ffffff;
  background-color: #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  text-decoration: none;
}

.btn-medium-form:hover {
  color: #999999;
  border: 1px solid #999999;
  text-decoration: none;
  background-color: #ffffff;
}
